{% extends 'base.html' %}

{% block header_text %}Your To-Do List{% endblock %}

{% block table %}
    <table id="id_list_table" class="table"></table>
{% endblock %}

{% block extra_content %}
    <div id="id_list_owner">{{ list.owner.pk }}</div>

    <h2>Share this list</h2>
    <form action="{% url 'share_list' list.pk %}" method="post">
        {% csrf_token %}
        <input type="text" name="sharee" placeholder="your-friend@example.com">
    </form>

    <ul>
        <h2>The list use:</h2>
        {% for user in list.shared_with.all %}
            <div class="list-sharee">
                <li>{{ user.email }}</li>
            </div>
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
    <script>
        async function getItems() {
            let response = await fetch("{% url 'get_items' list.pk %}", {
                mode: "same-origin",
                method: 'GET',
            });

            if (response.status === 200) return await response.json();
        };

        async function postItem(formData) {
            let response = await fetch("{% url 'post_item' list.pk %}", {
                mode: "same-origin",
                method: 'POST',
                headers: {
                    'X-CSRFToken': window.csrftoken,
                },
                body: formData,
            });

            return response;
        };

        async function displayItems(data) {
            if (!data instanceof Array) return;
            // if (!data instanceof Object) return;
            if (data.length === 0) return;

            let table = window.document.querySelector('#id_list_table');
            table.innerHTML = '';

            // let keys = Object.keys(data);
            // for (let key of keys) {
            for (let i = 0; i < data.length; i++) {
                let td = window.document.createElement('td');
                // td.textContent = `${key}: ${data[key].text}`;
                td.textContent = `${i + 1}: ${data[i].text}`;

                let tr = window.document.createElement('tr');
                tr.append(td);

                table.append(tr);
            };
        };

        async function displayErrors(data) {
            if (!data instanceof Object) return;
            if (data.length === 0) return;
            
            let li = window.document.createElement('li');
            li.textContent = data['text'][0];

            let ul = window.document.createElement('ul');
            ul.className = 'errorlist';
            ul.append(li);
                
            let divHelpBlock = window.document.createElement('div');
            divHelpBlock.className = 'help-block'
            divHelpBlock.append(ul);

            let divHasError = window.document.querySelector('.has-error');
            divHasError.append(divHelpBlock);
            divHasError.hidden = false;
        };

        window.addEventListener('load', async () => {
            let result = await getItems();

            await displayItems(result);

            window.csrftoken = window.document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            window.document.querySelector('input[name="text"]').addEventListener('input', () => {
                let divHasError = window.document.querySelector('.has-error');
                divHasError.hidden = true;
            });

            window.document.forms.namedItem('item_form').addEventListener('submit', async (event) => {
                event.preventDefault();

                let textInput = window.document.querySelector('input[name="text"]');

                let formData = new FormData();
                formData.append('text', textInput.value);

                let response = await postItem(formData);

                if (response.status === 201) {
                    textInput.value = '';

                    let result = await getItems();

                    await displayItems(result);
                } else {
                    let result = await response.json();

                    await displayErrors(result);
                };
            });
        });
    </script>
{% endblock %}